<div class="container-fluid p-3">

  <p>Please scn your appointment card/ Enter your I.C. / Passport Number for issue of Queue Ticket</p>
  <form [formGroup]="fGroup" (ngSubmit)="onSubmit(frm.value)" #frm="ngForm">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="form-group">
          <input formControlName="search" type="text" placeholder="Search by User ID" class="form-control" name="search">
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-2 col-md-4 col-md-4"></div>
      <div class="col-8 col-md-4 col-md-4">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
      <div class="col-2 col-md-4 col-md-4"></div>
    </div>
  </form>

  <div class="row m-3">
    <div class="col col-12 mt-1 px-md-1 mt-md-0 col-md-2 col-lg-4"></div>
    <div class="col col-12 mt-1 px-md-1 mt-md-0 col-md-2 col-lg-1"><button class="btn btn-ls btn-outline-primary btn-block"> English</button></div>
    <div class="col col-12 mt-1 px-md-1 mt-md-0 col-md-2 col-lg-1"><button class="btn btn-ls btn-outline-primary btn-block"> Chiness</button></div>
    <div class="col col-12 mt-1 px-md-1 mt-md-0 col-md-2 col-lg-1"><button class="btn btn-ls btn-outline-primary btn-block"> Malay</button></div>
    <div class="col col-12 mt-1 px-md-1 mt-md-0 col-md-2 col-lg-1"><button class="btn btn-ls btn-outline-primary btn-block"> Spanish</button></div>
    <div class="col col-12 mt-1 px-md-1 mt-md-0 col-md-2 col-lg-4"></div>
  </div>

  <div *ngIf="lists && isMember" class="alert-success m-3 p-3">
    {{lists.data.first_name}}  {{lists.data.last_name}} &nbsp; &nbsp; <img class="user-img" [src]="lists.data.avatar" alt="king">
    <span (click)="queueBill(lists.data)" style="float:right; cursor: pointer;" class="badge badge-pill badge-primary p-2 mt-2">Print Queue</span>
  </div>

  <div *ngIf="isNewUser" class="alert-danger m-3 p-3">
    Please visit counter     <span (click)="newUser()" style="float:right; cursor: pointer;" class="badge badge-pill badge-danger p-2">Visit Now </span>
  </div>


</div>