<div class="container-fluid p-3">

  <br><br><br>
  <div class="row">
    <div class="col-12 col-md-2"></div>
    <div class="col-12 col-md-8">
      <button type="submit" class="btn btn-secondary btn-block" (click)="toUser()">Dashboard Screen</button>
      <button type="submit" class="btn btn-secondary btn-block" (click)="toUser()" >Klosk Screen</button>
      <button type="submit" class="btn btn-secondary btn-block" (click)="toUser()">Desktop Screen</button>
    </div>
    <div class="col-12 col-md-2"></div>
  </div>

  <div class="row m-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-12 mt-1 mt-md-0 col-md-3"><button class="btn btn-sm btn-outline-primary btn-block"> English</button></div>
        <div class="col-12 mt-1 mt-md-0 col-md-3"><button class="btn btn-sm btn-outline-primary btn-block"> Chiness</button></div>
        <div class="col-12 mt-1 mt-md-0 col-md-3"><button class="btn btn-sm btn-outline-primary btn-block"> Malay</button></div>
        <div class="col-12 mt-1 mt-md-0 col-md-3"><button class="btn btn-sm btn-outline-primary btn-block"> Spanish</button></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  
  <div class="row">
    <div class="col-1 col-md-2"></div>
    <div class="col-4 col-md-2">
        <label class="label">Select Department </label>
    </div>
    <div class="col-6 col-md-6">
      <div class="input-group mb-3">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Select Department</option>
          <option value="1">Laboratory</option>
          <option value="2">Outpatient</option>
          <option value="3">Chemotheraphy</option>
        </select>
      </div>
    </div>
    <div class="col-1 col-md-2"></div>
  </div>


</div>