<div class="container">
  <label>Location :  </label>
  <input type="text" name="location"><span class="glyphicon glyphicon-download-alt"></span>
    <div class="row">
      
      <div class="col-sm-11">
        <table class="table table-bordered table-sm">
          <thead class="thead-light">
            <tr>
              <th> Time</th>
              <th> Patient </th>
              <th> Activity</th>
              <th> Status</th>
              <th> Dept</th>
              <th> Staff</th>
              <th> MD</th>
              <th> Location</th>
              <th> Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 9:15</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <td> 9:30</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td> 9:45</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <tr>
                  <td> 10 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
          </tbody>
  
        </table>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-primary btn-sm btn-block">Close</button>
        <button type="button" class="btn btn-primary btn-sm btn-block">Add</button>
        <button type="button" class="btn btn-primary btn-sm btn-block">Change</button>
        <button type="button" class="btn btn-primary btn-sm btn-block">Delete</button>
        <button type="button" class="btn btn-primary btn-sm btn-block">Refresh</button>
      
        <span class="glyphicon glyphicon-arrow-right"></span>
        <label>All</label>
        <label>All</label>
      </div>
  
  
  
  
    </div>
  </div>