<div class="container-fluid p-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-12 p-2">
                    <div *ngIf = "user" class="embed-responsive embed-responsive-21by9">
                        <img class="embed-responsive-item" [src]="user.avatar">
                    </div>
                </div>
                <div *ngIf = "user" class="col-12 p-2">
                    <table class="table text-center">
                        <tr class="tr" (click)="tr()">
                            <td>{{user.id}}</td>
                            <td>{{user.id}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <table class="table text-center table-borderless table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Current Queue Number</th>
                        <th>Room Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>089</td>
                        <td>1</td>
                    <tr>
                        <td>090</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>091</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>

            <table class="table text-center table-borderless table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Treatment</th>
                        <th>Room </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>089</td>
                        <td>1</td>
                    <tr>
                        <td>090</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>091</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>