<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table text-center table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Treatment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>089</td>
                                <td>1</td>
                            <tr>
                                <td>090</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>091</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table text-center table-bordered table-sm">
                        <thead class="thead-light thead-borderless">
                            <tr>
                                <th>Treatment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody coll>
                            <tr>
                                <td>089</td>
                                <td>1</td>
                            <tr>
                                <td>090</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>091</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table text-center table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Treatment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>089</td>
                                <td>1</td>
                            <tr>
                                <td>090</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>091</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">2</div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-6">
                    <table class="table text-center table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Treatment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>089</td>
                                <td>1</td>
                            <tr>
                                <td>090</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>091</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table text-center table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Treatment</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>089</td>
                                <td>1</td>
                            <tr>
                                <td>090</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>091</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">2</div>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-block">Select Date</button>
            <button type="button" class="btn btn-primary btn-block">Today</button>
            <button type="button" class="btn btn-primary btn-block">Print</button>
        </div>

    </div>
</div>