/* You can add global styles to this file, and also import other style files */
html body{
    width: 100%;
    min-height: 100%;
    background-color:#b2d2dd;
}

.footer{
    margin-top: -1050px;
    background-color:#085066;
    height: 50px;
    text-align: center;
}
.text-center {
    text-align: center!important;
}
.page-footer{
    margin-top: 506px!important;
}